.card {
    margin: 15px 5px;
}

.matched {
    opacity: 0.3;
}

.card {
    height: 100px;
}

@media only screen and (max-width: 600px) {
    .card {
        margin: 5px 5px;
        width: 75px;
    }
    
    
}