.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 2rem auto;
}

.cards>* {
    flex: 1 1 150px;
}

.newgame_button {
    padding: 1rem;
    margin-top: 2rem;
    border: none;
    background-color: #b2b42e;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .cards {
        margin: 0rem;
    }
    .cards>* {
        flex: 0px;
    }
}

